*{
    margin: 0px;
    border: 0;
    padding: 0;
}
html{
    position:relative; 
}

body{
    font: 14px/20px Century Gothic;
    margin: 0;
    align-content: center;
}
nav{
    background-image: url(../Pictures/city.jpg);
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	list-style: none;
	text-align: center;
    height: 200px;
	outline: 5px solid white;
	outline-style:double;
    padding-top: 0;
	outline-offset: -60px;
    padding-bottom: 450px;
     display:block;
}
nav ul li{
	background-color: rgba(0,0,0,.3);
	display: inline-block;
	outline: 2px white solid;
	margin-left: 3px;
}

nav ul li a{
	font-size:20px;
	font-family: Century Gothic;
	text-decoration:none;
	color: white;
    
	padding: 0 30px 2px 30px;
}

nav ul li a:hover{
	color: black;
	background-color:white;
}
nav img{
	padding: 50px 0 50px 0;
}
img{
    max-height: 200px;
    max-width: 200px;
}

h1{
    text-align: center;
    padding: 50px;
    padding-bottom: 30px;
    font-size: 100px;
    line-height: 120%;
    font-family: "Brush Script MT", cursive;
}
h2{
    font-family: "Brush Script MT", cursive;
    font-size: 40px;
    margin:40px;
    outline: inherit;
    text-align:center;
}
#slider {
	max-height: 600px;
    max-width: 1450px;
    height:700px;
	width:100%;
	margin: 0 auto;
	position:relative;
	border-radius:4px;
	overflow:hidden;
}
#slider #image {
    max-height: 600px;
    max-width: 1450px;
	position:absolute;
    height:700px;
	width:100%;
}
.left_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.right_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.left {
	height:100px;
	width:100px;
	position:absolute;
	top:70%;
	left:20px;
	opacity:0;
	transition: all .2s ease-in-out 0s;
}
.right {
	height:100px;
	width:100px;
	position:absolute;
	top:70%;
	right:20px;
	opacity:0;
	transition: all .5s ease-in-out 0s;
}
.left_hold:hover .left {
    color:white;
	opacity:0.6;
	}
.right_hold:hover .right {
    color:white;
	opacity:0.6;
}
section{
    float:left; 
}
.contactsec{
    width:100%;
}
.Aboutme{
    text-align: center;
    float:left;
    display: -webkit-flex; /* Safari */
    display: flex;  
}
.div0{
    width: auto;
    height: 100%;
}
.div1{
    margin-left: 250px;
}
.div1 p{
    margin-right:30px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.div2 p{
    margin-right:30px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.div3{
    margin-right: 250px;
}
.div3 p{
    margin-right:30px;
    margin-left: 20px;
    text-align: center;
        margin-bottom: 20px;
}
#cont {
  height: 400px;
  width: 400px;
  position: relative;
  display: inline-block;
}
#immg {
  display: block;
  left: 0;
  top: 0;
}
#text {
  display: inline-block;
  position:absolute;
  z-index: 10;
  color: white;
  font-size: 24px;
  font-weight: bold;
    vertical-align: middle;
}
#abou div {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
}
.Aboutme2{
    padding: 20px 20px 20px 20px;
    font-size: 120%;
    text-align: center;
    width 50%;
    letter-spacing: 2px;
}
.social{
    text-align: center;
    float:left;
    width:100%;
    text-decoration:none;
    display:block;
    height:250px;
}
.contactsec{
    background-image:url(../Pictures/city.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.social li{
    float: left;
    list-style: none;
    padding-bottom: 30px;
    margin: 0 auto;
    bottom:0;
}
.clear{
    clear: both;
}
.top{
    bottom:0;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    text-align: center;
    font-size:30px;
    padding-top:10px;
    margin-top:10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.transpabox{
    margin-top:10px;
    background-color:black;
    opacity:0.8;
    height:40px;
    border-bottom: 5px black;
}
.transpabox h4 {
    color: white;
    padding-top:10px;
    }
#container{
	width: 100%;
	border-radius:10px;
    background-color: #F2F1EF; 
}
#content{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}
#content ul{
	list-style-type:none;
}
#content li{
	float: right;
	width:200px;
	display:block;
	margin-right:60px;
	margin-bottom: 30px;
}
#content img{
	-webkit-webkit-transition: all 1s ease;
	-moz-webkit-transition: all 1s ease;
	-ms-webkit-transition: all 1s ease;
	-o-webkit-transition: all 1s ease;
	transition: all 1s ease;
	filter: blur(1px);
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
	-o-filter: blur(1px);
	border: 1px solid #000000; 
}
#content img:hover{
	-webkit-webkit-transition: all 1s ease;
	-moz-webkit-transition: all 1s ease;
	-ms-webkit-transition: all 1s ease;
	-o-webkit-transition: all 1s ease;
	transition: all 1s ease;
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	-o-filter: blur(0px);
	transform: translateZ(25px) rotate(3deg);
	border: 1px solid #000000;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	
}
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
}
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
}
}
